*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background:#fdf2cf;
}

/* Logo */

.logo{
    position:absolute;
    top:250px;
    left:60px;
    font-size:65px;
    color:#222;
}

/* White Box */

.container{
    width:500px;
    min-height:650px;      /* Same height as signup */
    margin-left:800px;
    margin-top:50px;
    background:white;
    border-radius:25px;
    padding:30px 50px;
    box-shadow:20px 20px 20px 10px rgba(187,0,0,0.1);
}

/* Heading */

h1{
    text-align:center;
    font-size:60px;
    color:#222;
}

.subtitle{
    text-align:center;
    color:#666;
    font-size:20px;
    margin-top:10px;
    margin-bottom:40px;
}

/* Labels */

label{
    display:block;
    font-size:20px;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:10px;
}

/* Input Boxes */

input{
    width:100%;
    padding:18px;
    border:2px solid #ddd;
    border-radius:15px;
    font-size:22px;
    margin-bottom:10px;
}

/* Button */

button{
    display:block;
    width:260px;
    margin:40px auto;
    padding:18px;
    border:none;
    border-radius:15px;
    background:#ba001c;
    color:white;
    font-size:32px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#e94d66;
}

/* Bottom Text */

.login{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.login a{
    color:#ff5a73;
    text-decoration:none;
    font-weight:bold;
}