* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* BODY */

body {
    background: #fdf2cf;
}


/* SIDEBAR */

.sidebar {
    width: 270px;
    height: 95vh;

    margin: 15px;

    background: #6D4C41;

    border-radius: 35px;

    padding: 35px 20px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    position: fixed;
    left: 0;
    top: 0;
}


/* SIDEBAR TITLE */

.sidebar h2 {
    color: white;

    text-align: center;

    font-size: 30px;

    margin-bottom: 45px;

    line-height: 1.3;
}


/* SIDEBAR LINKS */

.sidebar a {
    text-decoration: none;

    color: white;

    font-size: 19px;

    padding: 18px 22px;

    margin-bottom: 12px;

    border-radius: 18px;

    transition: 0.3s;
}


.sidebar a:hover {
    background: #A67C52;
}


.sidebar a.active {
    background: white;

    color: #6D4C41;

    font-weight: bold;
}


/* MAIN */

.main {
    margin-left: 300px;

    min-height: 100vh;

    padding: 40px;

    display: flex;

    justify-content: center;

    align-items: center;
}


/* TAKE QUIZ BOX */

.quiz-container {
    width: 100%;

    max-width: 1200px;

    background: white;

    border-radius: 25px;

    padding: 45px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}


/* TITLE */

.quiz-container h1 {
    color: #6D4C41;

    font-size: 38px;

    text-align: center;

    margin-bottom: 10px;
}


.subtitle {
    color: #666;

    font-size: 18px;

    text-align: center;

    margin-bottom: 35px;
}


/* SUBJECT BOX */

.subject-box {
    background: #FFF8F2;

    border: 1px solid #eee;

    border-radius: 18px;

    padding: 30px;

    margin-bottom: 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}


/* SUBJECT TITLE */

.subject-box h2 {
    color: #333;

    font-size: 23px;

    margin-bottom: 8px;
}


/* DESCRIPTION */

.subject-box p {
    color: #666;

    font-size: 16px;
}


/* START QUIZ BUTTON */

.subject-box a {
    text-decoration: none;

    background: #6D4C41;

    color: white;

    padding: 15px 30px;

    border-radius: 10px;

    font-weight: bold;

    white-space: nowrap;
}


.subject-box a:hover {
    background: #A67C52;
}


/* LEADERBOARD */

/* LEADERBOARD */

.leaderboard {
    width: 100%;
    margin: 35px auto 0;
    border-radius: 18px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.leaderboard h2 {
    color: #6D4C41;
    font-size: 25px;
    margin-bottom: 10px;
}

.leaderboard p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.leaderboard a {
    display: inline-block;
    text-decoration: none;
    background: #6D4C41;
    color: white;
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.leaderboard a:hover {
    background: #A67C52;
}