* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* BODY */

body {
    background: #fdf2cf;
}


/* SIDEBAR */

.sidebar {
    width: 270px;
    height: 95vh;

    margin: 15px;

    background: #6D4C41;

    border-radius: 35px;

    padding: 35px 20px;

    display: flex;
    flex-direction: column;

    position: fixed;

    left: 0;
    top: 0;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


/* LOGO */

.logo {
    color: white;

    text-align: center;

    font-size: 30px;

    font-weight: bold;

    text-decoration: none;

    margin-bottom: 45px;
}


/* SIDEBAR LINKS */

.sidebar a {
    color: white;

    text-decoration: none;

    font-size: 19px;

    padding: 18px 22px;

    margin-bottom: 12px;

    border-radius: 18px;
}


.sidebar a:hover {
    background: #A67C52;
}


.sidebar a.active {
    background: white;

    color: #6D4C41;

    font-weight: bold;
}
.sidebar .logo:hover {
    background: none;
    color: rgb(192, 28, 28);
}


/* LEADERBOARD */

.leaderboard {
    position: absolute;

    top: 25px;

    right: 40px;

    width: 300px;

    background: white;

    padding: 20px;

    border-radius: 18px;

    text-align: center;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}


/* LEADERBOARD TITLE */

.leaderboard h2 {
    color: #6D4C41;

    font-size: 22px;

    margin-bottom: 8px;
}


/* LEADERBOARD TEXT */

.leaderboard p {
    color: #666;

    font-size: 14px;

    margin-bottom: 15px;
}


/* LEADERBOARD BUTTON */

.leaderboard a {
    display: inline-block;

    background: #6D4C41;

    color: white;

    text-decoration: none;

    padding: 10px 22px;

    border-radius: 10px;

    font-weight: bold;
}


.leaderboard a:hover {
    background: #A67C52;
}


/* MAIN */

.main {
    margin-left: 300px;

    padding: 220px 40px 40px;
}


/* QUIZ CONTAINER */

.quiz-container {
    width: 100%;

    max-width: 1200px;

    background: white;

    padding: 45px;

    border-radius: 25px;

    margin: auto;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}


/* TITLE */

.quiz-container h1 {
    color: #6D4C41;

    font-size: 38px;

    text-align: center;

    margin-bottom: 10px;
}


/* SUBTITLE */

.subtitle {
    color: #666;

    font-size: 18px;

    text-align: center;

    margin-bottom: 35px;
}


/* SUBJECT BOX */

.subject-box {
    background: #FFF8F2;

    border: 1px solid #eee;

    border-radius: 18px;

    padding: 30px;

    margin-bottom: 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}


/* SUBJECT TITLE */

.subject-box h2 {
    color: #333;

    font-size: 23px;

    margin-bottom: 8px;
}


/* DESCRIPTION */

.subject-box p {
    color: #666;

    font-size: 16px;
}


/* START QUIZ BUTTON */

.subject-box a {
    background: #6D4C41;

    color: white;

    text-decoration: none;

    padding: 15px 30px;

    border-radius: 10px;

    font-weight: bold;
}


.subject-box a:hover {
    background: #A67C52;
}